doctype html
html
  head
    title= message   
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.animated.bounceInUp
    block content
    script(src='/javascripts/jquery.min.js')